@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,700&display=swap');
:root {
  --hover-color: rgba(51, 204, 102, 1);
  --header-shadow: rgba(30, 20, 80, 0.1);
  --main-shadow: rgba(30, 20, 80, 0.2);
  --video-background: rgba(131, 173, 181, 0.9);
  --button-color: rgba(46, 64, 69, 1);
  --button-text: rgba(236, 250, 240, 1);
  --link-color: rgba(236, 250, 240, 1);
  --background-color: rgba(254, 254, 253, 1);
  --header-color: rgba(254, 254, 254, 1);
  --header-address-background: rgb(50,70,80);
  --header-address-text: rgba(236, 250, 240, 1);
  --menu-nav-button-color: rgba(46, 64, 69, 0.9);
  --menu-nav-button-hover: rgba(46, 64, 69, 1);
  --menu-nav-button-text: rgba(236, 250, 240, 1);
  --title-font: "Playfair Display";
  --main-font: "Raleway";
  --link-font: "Raleway";
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--background-color);
  font-size: 16px;
}
a,
a:active {
  color: var(--link-color);
  text-decoration: none;
  font-family: var(--link-font);
}
.active__button{
  background-color: var(--menu-nav-button-hover) !important;
  outline: none;
}
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: normal;
}
#alert {
  width: 100%;
  height: 1.3rem;
  text-align: center;
  padding-top: 0.2rem;
  color: white;
  background-color: red;
  margin: 0;
}
.header__address{
  width: 100%;
  height: 1.8rem;
  text-align: center;
  padding-top: 0.5rem;
  margin: 0;
  background-color: var(--header-address-background);
  color: var(--header-address-text);
  font-size: 0.9rem;
}
.header__nav {
  text-align: center;
}
#nav__menu {
  list-style: none;
  text-align: left;
  font-size: 1.8rem;
}
.header__title {
  font-family: var(--title-font);
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 2px -3px var(--header-shadow);
  top: 0;
  position: sticky;
  height: 1.5rem;
  background: white;
}
.title__icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.title__text {
  font-size: 2.5rem;
}
.title__spacer {
  width: 1.5rem;
}
.body__main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--video-background);
  background-image: url("../img/paper.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 3px var(--main-shadow);
}
.img__slideshow{
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  min-height: 15rem;
  max-height: 15rem;
}
.main__button {
  background-color: var(--button-color);
  color: var(--button-text);
  margin: auto;
  display: block;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: -20px;
  border: none;
}
#tablet__button{
  display: none;
}
.main__text {
  font-size: 1rem;
  text-align: justify;
}
.text__content {
  padding: 0.2rem 1.5rem;
}
.menu__nav {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--menu-nav-button-text);
  font-size: 1.5rem;
}
.menu__nav li {
  background-color: var(--menu-nav-button-color);
  width: 100%;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-family: var(--title-font);
}
.menu__nav li:hover {
  background-color: var(--menu-nav-button-hover);
}
.lunch__menu{
  columns: 2 250px;
  column-gap: 3.2rem;
  list-style: none;
  padding: 0.5rem 2rem 2rem 2rem;
  margin: 0;
}
.dinner__menu{
  list-style: none;
  padding: 0.5rem 2rem 2rem 2rem;
  margin: 0;
}
.menu__section{
  columns: 2 250px;
  column-gap: 3.2rem;
}
.menu__section.oneCol{
  columns: 1;
}
.menu__banner {
  text-align: center;
  margin-bottom: 0.8rem;
}
.banner__title {
  margin: 0.5rem;
  font-size: 2rem;
}
.banner__subtitle {
  margin: 0;
  font-size: 1rem;
}
.banner__subtitle-bold {
  font-style: italic;
  margin: 0;
  font-size: 1rem;
}
.section{
  list-style: none;
  padding: 0;
  margin-top: 0;
  break-inside: avoid-column;
  page-break-inside: avoid;
}
.section li:nth-child(2){
  margin-top: 0.8rem;
}
.section li ul li:nth-child(2){
  margin: 0;
}
.menu__title{
  margin: 0;
  font-size: 1.6rem;
}
.menu__subtitle{
  margin:0;
}
.menu__buttons button{
  background-color: var(--menu-nav-button-color);
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
  cursor: pointer;
  font-family: var(--title-font);
  color: var(--menu-nav-button-text);
  border-radius: 0.25rem;
  font-size: 0.8rem;
}
.menu__buttons button:hover{
  background-color: var(--menu-nav-button-hover);
}
.menu__item {
  break-inside: avoid-column;
  page-break-inside: avoid;
  margin-bottom: 0.8rem;
}
.item__name {
  text-align: left;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}
.item__price {
  float: right;
  font-weight: normal;
}
.item__desc {
  margin: 0 0.15rem;
  font-size: 0.8rem;
}
.item__submenu {
  padding-left: 1.8rem;
  font-size: 0.8rem;
}
.submenu__price {
  float: right;
  margin: 0;
  font-size: 0.8rem;
}
.invisible {
  display: none;
}
.visible{
  display: block;
}

@media only screen and (min-width: 740px) {
  .body__main {
    max-width: 720px;
    display: flex;
    flex-direction: row;
    background-color: var(--video-background);
    background-image: url("../img/paper.png");
    background-repeat: repeat;
    background-blend-mode: multiply;
    border-radius: 0.5rem;
    margin: 1rem auto;
  }
  .main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .img__slideshow{
    min-width: 450px;
    max-width: 450px;
    min-height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  .main__button {
    background-color: var(--button-color);
    color: var(--button-text);
    margin: auto;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    margin-top: 1rem;
  }
  #tablet__button{
    display: block;
  }
  #mobile__button{
    display: none;
  }
  .menu__buttons button{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1100px) {
  .body__main{
    min-width: 1050px;
    height: 400px;
  }
  .img__slideshow{
    min-width: 525px;
    max-width: 525px;
    min-height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
}
