:root {
--bg-color:#fefefe;
--button-color:#b48336;
--h1-color:#c29c44;
--h3-color:#723e30;
--header-color:#bfa44d;
--header-text:#fefefe;
--hover-color:#5d3f33;
--link-color:#aa6e54;
--text-color:#695d54;
}
h1, h2 {
font-size:5rem;
margin:0;
text-align:center;
}
h1{
  font-family: 'Permanent Marker';
}
h2{
  font-family:'Amatic SC';
}
h3 {
color:var(--h3-color);
display:inline-block;
font-family:"Playfair Display";
margin:0;
}
button {
all:unset;
background:var(--button-color);
border-radius:3px;
color:var(--bg-color);
padding:.8rem;
text-transform:uppercase;
-webkit-transition-duration:.4s;
     -o-transition-duration:.4s;
        transition-duration:.4s;
}
button:hover {
background:var(--hover-color);
cursor:pointer;
}
a {
color:var(--link-color);
text-decoration:none;
}
body {
color:var(--text-color);
font-family:Lato;
height:100%;
margin:0;
overflow-x:hidden;
width:100%;
}
p2 {
display:block;
}
#container {
min-height:100%;
padding-bottom:0px;
position:relative;
}
.header {
-webkit-box-align:baseline;
    -ms-flex-align:baseline;
        align-items:baseline;
background:var(--header-color);
color:var(--header-text);
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
    -ms-flex-direction:row;
        flex-direction:row;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
padding:.25rem;
width:100%;
}
.header span {
-webkit-box-flex:1;
    -ms-flex:1 1 0px;
        flex:1 1 0;
font-family:'Playfair Display';
text-align:center;
}
.header ul {
-webkit-box-flex:1;
    -ms-flex:1 1 0px;
        flex:1 1 0;
text-align:center;
text-transform:uppercase;
}
.header li {
cursor:pointer;
display:inline;
list-style:none;
padding-right:1rem;
-webkit-transition:.4s;
-o-transition:.4s;
transition:.4s;
}
.header #nav-icon{
  display: none;
}
#home {
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
    -ms-flex-direction:row;
        flex-direction:row;
-webkit-box-pack:justify;
    -ms-flex-pack:justify;
        justify-content:space-between;
min-height:100%;
}
#home div {
-webkit-box-flex:1;
    -ms-flex:1 1 0px;
        flex:1 1 0;
box-sizing: border-box;
}
#home .text {
padding-left:10%;
padding-right:10%;
}
#home .text p {
margin-bottom:1rem;
}
#home .image {
background-image:url("../img/home.jpg");
background-size:cover;
height:100%;
width:100%;
}
#home button {
display:block;
margin-left:auto;
margin-right:auto;
}
#home button a {
text-decoration:none;
}
#home #notice {
color:red;
display:block;
font-weight:700;
margin-left:auto;
margin-right:auto;
}
.banner {
color:var(--bg-color);
max-height:180px;
min-height:180px;
padding-bottom:4rem;
padding-top:4rem;
width:100%;
}
#lunch .banner {
background-image:url("../img/banner2.jpg");
background-size:cover;
}
#dinner .banner {
background-image:url("../img/banner1.jpg");
background-size:cover;
}
.banner h1 {
font-family:'Permanent Marker';
font-size:4.5rem;
padding-bottom:1rem;
}
.banner .buttons {
padding-bottom:1rem;
text-align:center;
}
.banner p {
font-size:1.2rem;
}
#lunch .menu-lunch {
  -webkit-columns:2 350px;
          columns:2 350px;
  padding-bottom:2rem;
  padding-top:2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#dinner ul, #lunch ul {
-webkit-columns:2 300px;
        columns:2 300px;
column-gap: 100px;
list-style:none;
margin: 0;
}

#dinner ul ul, #lunch ul ul {
list-style: initial;
}

#dinner ul li, #lunch ul li {
-moz-column-break-inside:avoid;
-moz-page-break-inside:avoid;
-webkit-column-break-inside:avoid;
break-inside:avoid-column;
margin-bottom:0.3rem;
page-break-inside:avoid;
}

#dinner ul ul li, #lunch ul ul li {
-moz-column-break-inside:avoid;
-moz-page-break-inside:avoid;
-webkit-column-break-inside:avoid;
break-inside:avoid-column;
margin-bottom:0;
page-break-inside:avoid;
}

#dinner ul span, #lunch ul span {
  float:right;
}
#dinner .center{
  margin-bottom: 15px;
}
#dinner h2 {
font-size:3.5em;
}

#hours h1 {
font-size:3.5rem;
}

#hours {
-webkit-columns:2 400px;
        columns:2 400px;
margin:auto;
padding:2rem;
}

#hours ul {
list-style:none;
margin:0;
padding-left:4rem;
padding-right:4rem;
}

#hours li {
-moz-column-break-inside:avoid;
-moz-page-break-inside:avoid;
-webkit-column-break-inside:avoid;
break-inside:avoid-column;
font-style:italic;
padding-top:2rem;
page-break-inside:avoid;
}

#hours ul span {
float:right;
font-style:normal;
}

#footer {
-webkit-box-align:baseline;
    -ms-flex-align:baseline;
        align-items:baseline;
background:var(--header-color);
color:var(--header-text);
-webkit-box-pack:center;
    -ms-flex-pack:center;
        justify-content:center;
padding:1rem;
text-align:center;
width:100%;
}

#footer a {
color:var(--header-text);
-webkit-transition:.4s;
-o-transition:.4s;
transition:.4s;
}

#footer i {
color:var(--header-text);
cursor:pointer;
font-size:2em;
padding:.25em;
}

#footer #icons,p {
margin:0;
padding:0;
}

a:hover,.active,.header li:hover,#footer a:hover,i:hover {
color:var(--hover-color);
}

.center,#contact {
text-align:center;
}

@media only screen
  and (min-width: 415px) and (max-width: 630px){
    #home{
      all: unset;
    }
    #home .image{
      display: none;
    }
    #home .mobile-banner{
      background-image:url("../img/home.jpg");
      background-size:cover;
      color: white;
      width: 100%;
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-bottom: 5rem;
    }
    #home .mobile-banner .center{
      font-size: 1.5rem;
      padding: 0;
    }
    #home .text{
      padding: 0;
    }
    #home .text p{
      font-size: 1.2rem;
      padding-left: 10%;
      padding-right: 10%;
    }
    .header{
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }
    .header ul{
      display: none;
    }
    .header #nav-icon{
      display: inline;
      font-size: 2rem;
      text-align: right;
      padding-right: 3rem;
      cursor: pointer;
    }
    .header .dropdown{
      display: none;
      position: absolute;
      left: 70%;
      top: 45px;
      background-color: #f9f9f9;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 5px 16px;
      z-index: 1;
    }
    .header ul{
    }
    .header li{
      padding: 10px 0px;
      color: var(--hover-color);
    }
    .header li:hover{
      color: var(--header-color);
    }
    .active{
      color: var(--header-color) !important;
    }
}
